* {
   font-family: "Poppins", sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all 0.2s ease-in-out;
}

:root {
   --subtitulo: #743172;
}

body {
   padding: 20px;
}

.modoNocturno {
   background: #000;
   color: #fff;
}

.fa-moon {
   position: absolute;
   font-size: 1.2rem;
   transition: all 0.4s ease-in-out;
   cursor: pointer;
}

.fa-moon:hover {
   transform: scaleX(-1);
}

h2 {
   text-align: center;
   letter-spacing: 2px;
   margin-bottom: 10px;
}

h2::before {
   content: "";
   position: absolute;
   width: 180px;
   height: 4px;

   transform: translateY(28px);
   background: var(--subtitulo);
}

h3 {
   padding: 10px;
   text-transform: capitalize;
   font-weight: 500;
   text-align: center;
   font-size: 1.4rem;
}

h3::before {
   content: "";
   position: absolute;
   width: 20px;
   height: 4px;
   border-radius: 5px;
   transform: translateY(10px) translateX(-15px) rotate(90deg);
   background: var(--subtitulo);
}

h3::after {
   content: "";
   position: absolute;
   width: 20px;
   height: 4px;
   border-radius: 5px;
   transform: translateY(10px) translateX(0) rotate(90deg);
   background: var(--subtitulo);
}

hr {
   color: var(--subtitulo);
   height: 3px;
   width: 100%;
   background: var(--subtitulo);
}

ol {
   align-items: center;
}

#root {
   margin: 10px;
}

input {
   width: 100%;
   padding: 8px;
   color: #222;
   font-weight: 300;
   border: 1px outset #222;
   border-radius: 2px;
   font-size: 0.9rem;
   outline: 1px solid #222;
   margin: 10px 0 10px 0;
}

input:focus {
   border: 2px outset var(--subtitulo);
}

.card-grid {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   width: 100%;
   column-gap: 5px;
   margin-bottom: 10px;
}

.card {
   align-content: center;
   border: 1px solid grey;
   border-radius: 6px;
   overflow: hidden;
   margin-bottom: 10px;
}

.card p {
   padding: 5px;
   text-align: center;
}

.card img {
   width: 300px;
   height: 300px;

   width: 100%;
}

@media (max-width: 1060px) {
   .card-grid {
      grid-template-columns: repeat(4, 1fr);
   }
}

@media (max-width: 992px) {
   .card-grid {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media (max-width: 767px) {
   .card-grid {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 480px) {
   .card-grid {
      grid-template-columns: repeat(1, 1fr);
   }
}
